:root {
  /* colors */
  --white: #ffffff;
  --white-text: #e2e2e2;
  --bg-grey: #f4f4f4;
  --almost-black: #0c0c0d;
  --green: #6a8c47;
  --logo-brown: #d2a381;
  --accent: #f1a008;

  /* spaces for margins and paddings */
  --space-xxs: calc(var(--space-sm) * 0.25);
  --space-xs: calc(var(--space-sm) * 0.5);
  --space-sm: 1rem;
  --space-md: calc(var(--space-sm) * 1.5);
  --space-lg: calc(var(--space-sm) * 2);
  --space-xl: calc(var(--space-sm) * 3);
  --space-xxl: calc(var(--space-sm) * 6);

  /* font-families */
  --ff-head: "Roboto Flex", sans-serif;
  --ff-text: "Red Hat Display", sans-serif;
  --ff-cta: "Raleway", sans-serif;

  /*
font-family: 'Raleway', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Roboto Flex', sans-serif;
*/

  /* font-weights */
  --fw-l: 300;
  --fw-n: 400;
  --fw-m: 500;
  --fw-sb: 600;

  /* font-sizes mobile*/
  --fs-1: 52px;
  --fs-2: 36px;
  --fs-3: 26px;
  --fs-4: 19px;

  --fs-p: 15px;
  --fs-xs: 10px;

  --fs-sm: 12px;
  --fs-n: 16px;
  --fs-l: 20px;

  /* font-sizes web*/
  --fs-4w: 20px;
  --fs-3w: 32px;
  --fs-2w: 70px;
  --fs-1w: 110px;
  /* --fs-3: calc(var(--fs-g) * 1.5); */

  /* border-radii */
  --br-xs: 2px;
  --br-s: 5px;
  --br-l: 10px;
  --br-xl: 20px;
  --br-xxl: 50px;

  /* color: var(--white); */
  /* font-family: var(--ff); */
  /* background-color: var(--black); */
}
/* resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: var(--white);
  /* color: inherit; */
}
ul,
ol {
  list-style: none;
}

/* imports */

@font-face {
  font-family: "Raleway";
  src: url(/fonts/Raleway-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Raleway";
  src: url(/fonts/Raleway-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(/fonts/RedHatDisplay-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(/fonts/RedHatDisplay-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Flex";
  src: url(/fonts/RobotoFlex-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

/* @font-face {
  font-family: "open_sans";
  src: url(/public/fonts/OpenSans-Regular-webfont.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dosis";
  src: url(/public/fonts/Dosis-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "dosis";
  src: url(/public/fonts/Dosis-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
} */
