---
import "../styles/style.css";
import Footer from "../components/Footer.astro";
import HeaderMobile from "../components/HeaderMobile.astro";
import NavMobile from "../components/NavMobile.astro";
import FragtBanner from "../components/FragtBanner.astro";
const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg" href="/img/favicon.svg" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex, nofollow" />
    <title>{title}</title>
  </head>
  <body>
    <HeaderMobile />
    <NavMobile />
    <FragtBanner />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html {
    scroll-padding-top: 135px;
    scroll-behavior: smooth;
  }
</style>
